{% extends 'base.html.twig' %}
	
	{% block body %}
		<div class="container theme-showcase" role="main">

	      <!-- Main jumbotron for a primary marketing message or call to action -->
	      <div class="jumbotron">
	        <h1>unitedcaribexport.com</h1>
	        <p>Ceci est un test de notification.</p>
	        </div>
	    </div>
    {% endblock %}



   {% block javascript %}
	<script type="text/javascript">
		$(function(){

		var notification_1 = function(){
			$.notify({
				icon: '{{ asset('bundles/shop/img/p1.PNG') }}',
				title: 'Someone in Simi Valley, U.S <br>',
				message: 'Recently purcharged a <span class="text-info">Rhum Bois Band&eacute;e 30cl</span>',
				url: 'http://unitedcaribexport.com/produit/25',
				target: '_blank'
			},{
				type: 'default',
				delay: 5000,
				icon_type: 'image',
				placement: {
					from: "bottom",
					align: "left"
				},
				offset: 20,
				spacing: 10,
				z_index: 1031,
				delay: 5000,
				timer: 1000,
				url_target: '_blank',
				animate: {
					enter: 'animated fadeInUp',
					exit: 'animated fadeOutDown'
				},
				onClosed: function(){
					notification_2();
				},
				template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
					'<button type="button" aria-hidden="true" class="close" data-notify="dismiss">x</button>' +
					'<img data-notify="icon" class="img-circle pull-left">' +
					'<span data-notify="title">{1}</span>' +
					'<span data-notify="message">{2}</span>' +
					'<div class="progress" data-notify="progressbar">' +
						'<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
					'</div>' +
					'<a href="{3}" target="{4}" data-notify="url"></a>' +
				'</div>'
			});
		}
		var notification_2 = function(){
			$.notify({
				icon: '{{ asset('bundles/shop/img/p2.PNG') }}',
				title: 'Someone in Saribie, United States <br>',
				message: 'Recently purcharged a <span class="text-info">Chips fruit &agrave; Pain</span>',
				url: 'http://unitedcaribexport.com/produit/19',
				target: '_blank'
			},{
				type: 'default',
				delay: 5000,
				icon_type: 'image',
				placement: {
					from: "bottom",
					align: "left"
				},
				offset: 20,
				spacing: 10,
				z_index: 1031,
				delay: 5000,
				timer: 1000,
				url_target: '_blank',
				animate: {
					enter: 'animated fadeInUp',
					exit: 'animated fadeOutDown'
				},
				onClosed: function(){
					notification_3();
				},
				template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
					'<button type="button" aria-hidden="true" class="close" data-notify="dismiss">x</button>' +
					'<img data-notify="icon" class="img-circle pull-left">' +
					'<span data-notify="title">{1}</span>' +
					'<span data-notify="message">{2}</span>' +
					'<div class="progress" data-notify="progressbar">' +
						'<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
					'</div>' +
					'<a href="{3}" target="{4}" data-notify="url"></a>' +
				'</div>'
			});
		}
		var notification_3 = function(){
			$.notify({
				icon: '{{ asset('bundles/shop/img/p3.PNG') }}',
				title: 'Someone in Nille, France <br>',
				message: 'Recently purcharged a <span class="text-info">Vanille et Orange (les plus beaux fruits)  </span>',
				url: 'http://unitedcaribexport.com/produit/31',
				target: '_blank'
			},{
				type: 'default',
				delay: 5000,
				icon_type: 'image',
				placement: {
					from: "bottom",
					align: "left"
				},
				offset: 20,
				spacing: 10,
				z_index: 1031,
				delay: 5000,
				timer: 1000,
				url_target: '_blank',
				animate: {
					enter: 'animated fadeInUp',
					exit: 'animated fadeOutDown'
				},
				onClosed: function(){
					notification_1();
				},
				template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
					'<button type="button" aria-hidden="true" class="close" data-notify="dismiss">x</button>' +
					'<img data-notify="icon" class="img-circle pull-left">' +
					'<span data-notify="title">{1}</span>' +
					'<span data-notify="message">{2}</span>' +
					'<div class="progress" data-notify="progressbar">' +
						'<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
					'</div>' +
					'<a href="{3}" target="{4}" data-notify="url"></a>' +
				'</div>'
			});
		}

		notification_1();
	});

	</script>
	{% endblock %}

